.card img{
    width: 150px;
    height: 145px;
    margin-bottom: 15px;
}
body{
    margin: 0;
    font-weight: 400;
    line-height: 1.5385;
    color: black;
    text-align: left;
    /* background-color: #2196f3; */
}
.card-img-actions{
    position: relative;
}
a{
    text-decoration: none;
}
/* .container-fluid:hover{
    transform: translateY(-5px);
} */
 .card:hover{
transform: scale(1.1);
 }